@font-face { font-family: "baslik";  
       src: url('../fonts/baslik.ttf'); 
} 
@font-face { font-family: "govde";  
       src: url('../fonts/govde.ttf'); 
}          
.recipe:hover {
       background-color: #c7c8ff; 
            }
.login:hover {
       background-color: #96ff66;
            }
.signup:hover {
       background-color: #ffec98; 
            }